@media screen and (max-width: 360px) {



  /*------ Textbereich (LOGO) Anfang ------*/

  .headline{

    width: 200px;
    height: 40px;
    font-size: 40px;
    border-width: 3px;
  }
  /*------ Textbereich (LOGO) Ende ------*/

  /*------ beschreibung Anfang ------*/

  .beschreibung{
    font-family: "Marker Felt";
    font-size: 14px;
  }


  #beschreibung-headline{
    top: -38px;
    left: 40px;
    font-size: 40px;
  }

  /*------ beschreibung Ende ------*/

  /*------ akt-zine Anfang ------*/


  #akt-zine-headline{
    top: -70px;
    right: 20px;
    font-size: 80px;
  }


  /*------ akt-zine Ende ------*/



  /*------ kontakt Anfang ------*/

  /*------ kontakt Ende ------*/


  /*------ Fußbereich Anfang ------*/

  /*------ Fußbereich Ende ------*/
}/*Ende @Media Screen*/
