@media screen and (min-width: 600px) {

  /*------ Textbereich (LOGO) Anfang ------*/

  .headline{


    width: 500px;
    height: 100px;
    font-size: 100px;
    border-width: 5px;

  }
  /*------ Textbereich (LOGO) Ende ------*/

  /*------ beschreibung Anfang ------*/

  .beschreibung{
    font-size: 30px;
  }


  #beschreibung-headline{
    top: -75px;
    left: 40px;
    font-size: 80px;
  }

  /*------ beschreibung Ende ------*/

  /*------ akt-zine Anfang ------*/

  #akt-zine-headline{
    top: -70px;
    right: 20px;
    font-size: 80px;
  }


  /*------ akt-zine Ende ------*/


  /*------ kontakt Anfang ------*/


  /*------ kontakt Ende ------*/


  /*------ Fußbereich Anfang ------*/

  /*------ Fußbereich Ende ------*/
  }/*Ende @Media Screen*/

}
