@media screen and (max-width: 360px) {



  /*------ Textbereich (LOGO) Anfang ------*/

  .headline{

    width: 200px;
    height: 40px;
    font-size: 40px;
    border-width: 3px;
  }
  /*------ Textbereich (LOGO) Ende ------*/

  /*------ beschreibung Anfang ------*/

  .beschreibung{
    font-family: "Marker Felt";
    text-align: center;
    font-size: 14px;
    padding-top: 10%;
    padding-bottom: 40%;
    padding-left: 10%;
    padding-right: 10%;

  }


  #beschreibung-headline{
    position: absolute;
    top: -65px;
    left: 40px;
    font-size: 40px;
    color: black;
  }

  /*------ beschreibung Ende ------*/

  /*------ akt-zine Anfang ------*/


  #akt-zine-headline{
    position: absolute;
    top: -70px;
    right: 20px;
    font-size: 80px;
    color: rgb(110,225,210);
    color: black;
  }


  /*------ akt-zine Ende ------*/



  /*------ kontakt Anfang ------*/

  /*------ kontakt Ende ------*/


  /*------ Fußbereich Anfang ------*/

  /*------ Fußbereich Ende ------*/
}/*Ende @Media Screen*/
