@media screen and (min-width: 360px) and (max-width: 600px) {



  /*------ Textbereich (LOGO) Anfang ------*/

  .headline{

    width: 310px;
    height: 60px;
    font-size: 60px;
    border-width: 4px;
  }
  /*------ Textbereich (LOGO) Ende ------*/


  /*------ beschreibung Anfang ------*/

  .beschreibung{
    font-size: 30px;
  }


  #beschreibung-headline{
    top: -100px;
    left: 40px;
    font-size: 80px;
  }

  /*------ beschreibung Ende ------*/


  /*------ akt-zine Anfang ------*/


  #akt-zine-headline{
    top: -70px;
    right: 20px;
    font-size: 80px;
  }


  /*------ akt-zine Ende ------*/


  /*------ kontakt Anfang ------*/

  /*------ kontakt Ende ------*/


  /*------ Fußbereich Anfang ------*/


  /*------ Fußbereich Ende ------*/
  }/*Ende @Media Screen*/

}
