*{padding: 0; margin: 0;}
html{
  overflow-y: scroll;
  font-family: sans-serif;
  font-weight: lighter;
}
div{
  margin: 0;
  border-color: green;
  border-width: 1px;
  border-style: solid;
}



.kopfbereich{
  display: block;
  position: fixed;
  font-size: 40px;
}

.kopfbereich:hover{
  position: fixed;
  font-size: 40px;
  color: rgba(255, 0, 0, 1);
}

#test{
  display:block;
}

.navigation{
  position: fixed;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  transition: 0.5s;
  width: 0px;
  z-index: 1;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.navigation ul{
padding-top: 70px;

}

.navigation li{
margin: 50px 0px 50px 20px;
color: white;
font-size: 30px;

}

.navigation li:hover{
color: green;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.headline{
margin: auto;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;

width: 500px;
height: 110px;
font-size: 80px;
font-family: sans-serif;
font-weight: lighter;
text-align: center;
color: white;
border-width: 3px;
border-style: solid;
border-color: white;
padding-top: 30px;
border-color: white;
}
.wraper{
width: 1200px;

}

.box1{
  height: 100%;
  background-image: url('../images/rotkohl.png');
  background-position: center top;
  background-size: cover;
  margin: 0;
}
.fussbereich{
margin-top: 300px;

}
